<a href="https://colab.research.google.com/github/sauradip007/Cabs-Study/blob/master/ANN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Importing the libraries

# Artificial Neural Network

In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf

## Part 1 - Data Preprocessing

In [2]:
tf.__version__

'2.8.2'

### Importing the dataset

In [2]:
df = pd.read_csv('Churn_Modelling.csv')

In [3]:
df.head(3)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1

In [4]:
X = df.iloc[:,3:-1].values
y = df.iloc[:,-1].values

In [5]:
print(X)

[[619 'France' 'Female' ... 1 1 101348.88]
 [608 'Spain' 'Female' ... 0 1 112542.58]
 [502 'France' 'Female' ... 1 0 113931.57]
 ...
 [709 'France' 'Female' ... 0 1 42085.58]
 [772 'Germany' 'Male' ... 1 0 92888.52]
 [792 'France' 'Female' ... 1 0 38190.78]]

In [6]:
print(y)

[1 0 1 ... 1 1 0]

In [7]:
df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

### Encoding categorical data

In [8]:
X

array([[619, 'France', 'Female', ..., 1, 1, 101348.88],
       [608, 'Spain', 'Female', ..., 0, 1, 112542.58],
       [502, 'France', 'Female', ..., 1, 0, 113931.57],
       ...,
       [709, 'France', 'Female', ..., 0, 1, 42085.58],
       [772, 'Germany', 'Male', ..., 1, 0, 92888.52],
       [792, 'France', 'Female', ..., 1, 0, 38190.78]], dtype=object)

In [9]:
from sklearn import preprocessing

In [10]:
le = preprocessing.LabelEncoder()

Label Encoding the "Gender" column

In [11]:
X[:,2] = le.fit_transform(X[:,2])

In [12]:
X

array([[619, 'France', 0, ..., 1, 1, 101348.88],
       [608, 'Spain', 0, ..., 0, 1, 112542.58],
       [502, 'France', 0, ..., 1, 0, 113931.57],
       ...,
       [709, 'France', 0, ..., 0, 1, 42085.58],
       [772, 'Germany', 1, ..., 1, 0, 92888.52],
       [792, 'France', 0, ..., 1, 0, 38190.78]], dtype=object)

One Hot Encoding the "Geography" column

In [13]:
 from sklearn.preprocessing import OneHotEncoder

In [14]:
enc = OneHotEncoder()

In [15]:
from sklearn.compose import ColumnTransformer

In [16]:
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers = [('encoder', OneHotEncoder(), [1])], remainder='passthrough')
X = np.array(ct.fit_transform(X))

In [17]:
X

array([[1.0, 0.0, 0.0, ..., 1, 1, 101348.88],
       [0.0, 0.0, 1.0, ..., 0, 1, 112542.58],
       [1.0, 0.0, 0.0, ..., 1, 0, 113931.57],
       ...,
       [1.0, 0.0, 0.0, ..., 0, 1, 42085.58],
       [0.0, 1.0, 0.0, ..., 1, 0, 92888.52],
       [1.0, 0.0, 0.0, ..., 1, 0, 38190.78]], dtype=object)

In [18]:
X[0]

array([1.0, 0.0, 0.0, 619, 0, 42, 2, 0.0, 1, 1, 1, 101348.88],
      dtype=object)

### Splitting the dataset into the Training set and Test set

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

### Feature Scaling

In [21]:
from sklearn.preprocessing import StandardScaler

In [22]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

### Initializing the ANN

In [23]:
ann = tf.keras.models.Sequential()

In [24]:
ann.add(tf.keras.layers.Dense(units=6,activation='relu'))

### Adding the input layer and the first hidden layer

In [25]:
ann.add(tf.keras.layers.Dense(units=6,activation='relu'))

### Adding the second hidden layer

### Adding the output layer

In [26]:
ann.add(tf.keras.layers.Dense(units=1,activation='sigmoid'))

## Part 3 - Training the ANN

### Compiling the ANN

In [27]:
ann.compile(optimizer = 'adam' , loss = 'binary_crossentropy',metrics =[['accuracy'],['mse']])

### Training the ANN on the Training set

In [28]:
ann.fit(X_train,y_train, epochs = 120)

Epoch 1/120
250/250 [==============================] - 1s 2ms/step - loss: 0.5208 - accuracy: 0.7930 - mse: 0.1686
Epoch 2/120
250/250 [==============================] - 0s 2ms/step - loss: 0.4705 - accuracy: 0.7960 - mse: 0.1506
Epoch 3/120
250/250 [==============================] - 0s 2ms/step - loss: 0.4519 - accuracy: 0.7966 - mse: 0.1446
Epoch 4/120
250/250 [==============================] - 0s 2ms/step - loss: 0.4404 - accuracy: 0.8025 - mse: 0.1406
Epoch 5/120
250/250 [==============================] - 0s 2ms/step - loss: 0.4328 - accuracy: 0.8090 - mse: 0.1377
Epoch 6/120
250/250 [==============================] - 0s 2ms/step - loss: 0.4269 - accuracy: 0.8125 - mse: 0.1355
Epoch 7/120
250/250 [==============================] - 0s 2ms/step - loss: 0.4223 - accuracy: 0.8150 - mse: 0.1336
Epoch 8/120
250/250 [==============================] - 0s 2ms/step - loss: 0.4181 - accuracy: 0.8198 - mse: 0.1319
Epoch 9/120
250/250 [==============================] - 0s 2ms/step - loss: 0.4143 - accuracy: 0.8227 - mse: 0.1303
Epoch 10/120
250/250 [==============================] - 0s 2ms/step - loss: 0.4110 - accuracy: 0.8242 - mse: 0.1289
Epoch 11/120
250/250 [==============================] - 0s 2ms/step - loss: 0.4078 - accuracy: 0.8256 - mse: 0.1278
Epoch 12/120
250/250 [==============================] - 0s 2ms/step - loss: 0.4057 - accuracy: 0.8273 - mse: 0.1269
Epoch 13/120
250/250 [==============================] - 0s 2ms/step - loss: 0.4029 - accuracy: 0.8282 - mse: 0.1258
Epoch 14/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3996 - accuracy: 0.8286 - mse: 0.1247
Epoch 15/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3952 - accuracy: 0.8322 - mse: 0.1232
Epoch 16/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3907 - accuracy: 0.8336 - mse: 0.1215
Epoch 17/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3857 - accuracy: 0.8357 - mse: 0.1197
Epoch 18/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3802 - accuracy: 0.8399 - mse: 0.1175
Epoch 19/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3738 - accuracy: 0.8436 - mse: 0.1152
Epoch 20/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3682 - accuracy: 0.8468 - mse: 0.1128
Epoch 21/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3631 - accuracy: 0.8506 - mse: 0.1109
Epoch 22/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3593 - accuracy: 0.8536 - mse: 0.1098
Epoch 23/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3558 - accuracy: 0.8560 - mse: 0.1085
Epoch 24/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3533 - accuracy: 0.8575 - mse: 0.1078
Epoch 25/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3510 - accuracy: 0.8570 - mse: 0.1071
Epoch 26/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3491 - accuracy: 0.8568 - mse: 0.1065
Epoch 27/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3478 - accuracy: 0.8574 - mse: 0.1061
Epoch 28/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3470 - accuracy: 0.8589 - mse: 0.1059
Epoch 29/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3445 - accuracy: 0.8583 - mse: 0.1051
Epoch 30/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3445 - accuracy: 0.8584 - mse: 0.1052
Epoch 31/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3438 - accuracy: 0.8595 - mse: 0.1049
Epoch 32/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3432 - accuracy: 0.8583 - mse: 0.1047
Epoch 33/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3425 - accuracy: 0.8593 - mse: 0.1045
Epoch 34/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3422 - accuracy: 0.8604 - mse: 0.1043
Epoch 35/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3413 - accuracy: 0.8596 - mse: 0.1042
Epoch 36/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3412 - accuracy: 0.8601 - mse: 0.1041
Epoch 37/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3409 - accuracy: 0.8618 - mse: 0.1039
Epoch 38/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3403 - accuracy: 0.8606 - mse: 0.1038
Epoch 39/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3401 - accuracy: 0.8609 - mse: 0.1037
Epoch 40/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3401 - accuracy: 0.8601 - mse: 0.1037
Epoch 41/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3396 - accuracy: 0.8608 - mse: 0.1036
Epoch 42/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3396 - accuracy: 0.8596 - mse: 0.1036
Epoch 43/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3393 - accuracy: 0.8601 - mse: 0.1034
Epoch 44/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3388 - accuracy: 0.8614 - mse: 0.1033
Epoch 45/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3390 - accuracy: 0.8600 - mse: 0.1034
Epoch 46/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3391 - accuracy: 0.8616 - mse: 0.1035
Epoch 47/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3385 - accuracy: 0.8596 - mse: 0.1032
Epoch 48/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3383 - accuracy: 0.8629 - mse: 0.1032
Epoch 49/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3381 - accuracy: 0.8611 - mse: 0.1031
Epoch 50/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3378 - accuracy: 0.8601 - mse: 0.1030
Epoch 51/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3383 - accuracy: 0.8611 - mse: 0.1032
Epoch 52/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3383 - accuracy: 0.8611 - mse: 0.1032
Epoch 53/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3374 - accuracy: 0.8619 - mse: 0.1030
Epoch 54/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3372 - accuracy: 0.8614 - mse: 0.1030
Epoch 55/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3378 - accuracy: 0.8609 - mse: 0.1031
Epoch 56/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3369 - accuracy: 0.8616 - mse: 0.1028
Epoch 57/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3370 - accuracy: 0.8609 - mse: 0.1028
Epoch 58/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3373 - accuracy: 0.8620 - mse: 0.1029
Epoch 59/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3370 - accuracy: 0.8606 - mse: 0.1027
Epoch 60/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3368 - accuracy: 0.8619 - mse: 0.1027
Epoch 61/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3361 - accuracy: 0.8616 - mse: 0.1026
Epoch 62/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3361 - accuracy: 0.8622 - mse: 0.1025
Epoch 63/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3360 - accuracy: 0.8621 - mse: 0.1025
Epoch 64/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3361 - accuracy: 0.8622 - mse: 0.1026
Epoch 65/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3356 - accuracy: 0.8620 - mse: 0.1024
Epoch 66/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3359 - accuracy: 0.8610 - mse: 0.1026
Epoch 67/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3358 - accuracy: 0.8616 - mse: 0.1025
Epoch 68/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3358 - accuracy: 0.8614 - mse: 0.1025
Epoch 69/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3354 - accuracy: 0.8637 - mse: 0.1023
Epoch 70/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3354 - accuracy: 0.8629 - mse: 0.1023
Epoch 71/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3352 - accuracy: 0.8619 - mse: 0.1024
Epoch 72/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3352 - accuracy: 0.8606 - mse: 0.1024
Epoch 73/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3350 - accuracy: 0.8633 - mse: 0.1023
Epoch 74/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3348 - accuracy: 0.8615 - mse: 0.1023
Epoch 75/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3350 - accuracy: 0.8622 - mse: 0.1022
Epoch 76/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3350 - accuracy: 0.8606 - mse: 0.1023
Epoch 77/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3345 - accuracy: 0.8622 - mse: 0.1021
Epoch 78/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3350 - accuracy: 0.8635 - mse: 0.1022
Epoch 79/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3345 - accuracy: 0.8626 - mse: 0.1021
Epoch 80/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3348 - accuracy: 0.8604 - mse: 0.1022
Epoch 81/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3349 - accuracy: 0.8621 - mse: 0.1023
Epoch 82/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3345 - accuracy: 0.8619 - mse: 0.1022
Epoch 83/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3345 - accuracy: 0.8616 - mse: 0.1021
Epoch 84/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3344 - accuracy: 0.8625 - mse: 0.1022
Epoch 85/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3346 - accuracy: 0.8626 - mse: 0.1021
Epoch 86/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3340 - accuracy: 0.8615 - mse: 0.1021
Epoch 87/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3341 - accuracy: 0.8622 - mse: 0.1020
Epoch 88/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3343 - accuracy: 0.8620 - mse: 0.1020
Epoch 89/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3343 - accuracy: 0.8631 - mse: 0.1021
Epoch 90/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3344 - accuracy: 0.8626 - mse: 0.1021
Epoch 91/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3342 - accuracy: 0.8621 - mse: 0.1021
Epoch 92/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3335 - accuracy: 0.8630 - mse: 0.1017
Epoch 93/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3340 - accuracy: 0.8606 - mse: 0.1019
Epoch 94/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3336 - accuracy: 0.8619 - mse: 0.1018
Epoch 95/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3335 - accuracy: 0.8636 - mse: 0.1019
Epoch 96/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3336 - accuracy: 0.8625 - mse: 0.1018
Epoch 97/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3337 - accuracy: 0.8622 - mse: 0.1019
Epoch 98/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3333 - accuracy: 0.8618 - mse: 0.1018
Epoch 99/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3331 - accuracy: 0.8600 - mse: 0.1018
Epoch 100/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3337 - accuracy: 0.8606 - mse: 0.1019
Epoch 101/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3336 - accuracy: 0.8608 - mse: 0.1020
Epoch 102/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3334 - accuracy: 0.8633 - mse: 0.1019
Epoch 103/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3333 - accuracy: 0.8616 - mse: 0.1018
Epoch 104/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3333 - accuracy: 0.8608 - mse: 0.1018
Epoch 105/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3335 - accuracy: 0.8605 - mse: 0.1018
Epoch 106/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3332 - accuracy: 0.8633 - mse: 0.1018
Epoch 107/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3334 - accuracy: 0.8614 - mse: 0.1018
Epoch 108/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3331 - accuracy: 0.8620 - mse: 0.1017
Epoch 109/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3330 - accuracy: 0.8624 - mse: 0.1017
Epoch 110/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3337 - accuracy: 0.8606 - mse: 0.1019
Epoch 111/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3332 - accuracy: 0.8615 - mse: 0.1016
Epoch 112/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3329 - accuracy: 0.8621 - mse: 0.1016
Epoch 113/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3328 - accuracy: 0.8618 - mse: 0.1017
Epoch 114/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3332 - accuracy: 0.8627 - mse: 0.1017
Epoch 115/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3332 - accuracy: 0.8610 - mse: 0.1018
Epoch 116/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3330 - accuracy: 0.8620 - mse: 0.1016
Epoch 117/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3328 - accuracy: 0.8618 - mse: 0.1016
Epoch 118/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3327 - accuracy: 0.8618 - mse: 0.1015
Epoch 119/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3330 - accuracy: 0.8626 - mse: 0.1017
Epoch 120/120
250/250 [==============================] - 0s 2ms/step - loss: 0.3330 - accuracy: 0.8616 - mse: 0.1017

## Part 4 - Making the predictions and evaluating the model

In [29]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

### Predicting the result of a single observation

**Homework**

Use our ANN model to predict if the customer with the following informations will leave the bank: 

Geography: France

Credit Score: 600

Gender: Male

Age: 40 years old

Tenure: 3 years

Balance: \$ 60000

Number of Products: 2

Does this customer have a credit card ? Yes

Is this customer an Active Member: Yes

Estimated Salary: \$ 50000

So, should we say goodbye to that customer ?

**Solution**

In [30]:
print(ann.predict(scaler.transform([[1,0,0,600,1,40,3,60000,2,1,1,50000]])))
# very low chance they will leave the bank

[[0.0447917]]

Therefore, our ANN model predicts that this customer stays in the bank!

**Important note 1:** Notice that the values of the features were all input in a double pair of square brackets. That's because the "predict" method always expects a 2D array as the format of its inputs. And putting our values into a double pair of square brackets makes the input exactly a 2D array.

**Important note 2:** Notice also that the "France" country was not input as a string in the last column but as "1, 0, 0" in the first three columns. That's because of course the predict method expects the one-hot-encoded values of the state, and as we see in the first row of the matrix of features X, "France" was encoded as "1, 0, 0". And be careful to include these values in the first three columns, because the dummy variables are always created in the first columns.

### Predicting the Test set results

In [50]:
y_pred = ann.predict(X_test)
y_pred = y_pred > 0.5
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[0 0]
 [0 1]
 [0 0]
 ...
 [0 0]
 [0 0]
 [0 0]]

### Making the Confusion Matrix

In [51]:
from sklearn.metrics import confusion_matrix, accuracy_score

In [53]:
print(confusion_matrix(y_pred,y_test))
print(accuracy_score(y_pred,y_test))

[[1512  197]
 [  83  208]]
0.86